- layout :default

- about do
  - title    "Projektstruktur und Gems"
  - subtitle "Entwickeln mit Ruby"
  - author   "J. Holderbaum"

- slides do

  = title

  = slide "This is slide #1" do
    %p content of this slide

  = section "Section II", :desc => "With a little description"

  = slide "This is slide #1" do
    %p content of this second amazing slide

  = slide "Some Code-Highlighting" do
    %p this is javascript highlighting, out of the box
    = code :javascript, :blackboard  do
      :plain
        alert("string");

